svg {
	width: 1em;
	height: 1em;
	fill: currentColor;
	display: inline-block;
	vertical-align: middle;
	margin-top: -2px;
}

.container,
.site-header,
.site-inner,
.main-navigation,
.page-landingpress-full-hf .site-header .container,
.page-landingpress-full-hf .main-navigation .container,
.page-landingpress-full-hf .site-footer-widgets .container {
	max-width: 650px;
}

@media (min-width: 650px) {
	.site-content .content-area {
		float: left;
		width: 64.51612903%;
	}

	.site-content .widget-area {
		float: right;
		width: 35.48387097%;
	}
}

@media (max-width: 649px) {
	.site-content .content-area {
		float: none;
		width: 100%;
	}

	.site-content .widget-area {
		float: none;
		width: 100%;
	}
}

.pswp.pafe-lightbox-modal {
	display: none;
}

.elementor-61596 .elementor-element.elementor-element-49ed325f>.elementor-element-populated>.elementor-widget-wrap {
	padding: 0px 0px 0px 0px;
}

.elementor-61596 .elementor-element.elementor-element-6ec061d7 .elementor-button .elementor-align-icon-right {
	margin-left: 0px;
}

.elementor-61596 .elementor-element.elementor-element-6ec061d7 .elementor-button .elementor-align-icon-left {
	margin-right: 0px;
}

.elementor-61596 .elementor-element.elementor-element-6ec061d7 .elementor-button {
	font-family: "Roboto", Sans-serif;
	font-weight: 500;
	fill: #000000;
	color: #000000;
	background-color: #FFFFFF;
	padding: 20px 30px 20px 030px;
}

.elementor-61596 .elementor-element.elementor-element-6ec061d7 .elementor-button:hover,
.elementor-61596 .elementor-element.elementor-element-6ec061d7 .elementor-button:focus {
	background-color: #CB5B5B;
}

.elementor-61596 .elementor-element.elementor-element-6ec061d7>.elementor-widget-container {
	padding: 0px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-61596 .elementor-element.elementor-element-37e6de44.elementor-column .elementor-column-wrap {
	align-items: flex-start;
}

.elementor-61596 .elementor-element.elementor-element-37e6de44.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
	align-content: flex-start;
	align-items: flex-start;
}

.elementor-61596 .elementor-element.elementor-element-37e6de44:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap,
.elementor-61596 .elementor-element.elementor-element-37e6de44>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #FFFFFF;
}

.elementor-61596 .elementor-element.elementor-element-37e6de44>.elementor-element-populated {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-61596 .elementor-element.elementor-element-37e6de44>.elementor-element-populated>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-61596 .elementor-element.elementor-element-37e6de44>.elementor-element-populated>.elementor-widget-wrap {
	padding: 5% 5% 5% 5%;
}

.elementor-61596 .elementor-element.elementor-element-f36e231 img {
	width: 100%;
	max-width: 100%;
}

.elementor-61596 .elementor-element.elementor-element-f36e231>.elementor-widget-container {
	margin: -24px -24px -24px -24px;
}

.elementor-61596 .elementor-element.elementor-element-352f7ea4 {
	text-align: center;
}

.elementor-61596 .elementor-element.elementor-element-352f7ea4 .elementor-heading-title {
	color: #5B4F4F;
	font-family: "Poppins", Sans-serif;
	font-size: 36px;
	font-weight: 300;
	text-transform: uppercase;
	line-height: 1.2em;
}

.elementor-61596 .elementor-element.elementor-element-352f7ea4>.elementor-widget-container {
	margin: 20px 0px 0px 0px;
}

.elementor-61596 .elementor-element.elementor-element-e816b04 {
	text-align: center;
}

.elementor-61596 .elementor-element.elementor-element-e816b04 .elementor-heading-title {
	color: #4F4F4F;
	font-family: "Poppins", Sans-serif;
	font-size: 13px;
	font-weight: 300;
}

.elementor-61596 .elementor-element.elementor-element-45f43170 .elementor-button .elementor-align-icon-right {
	margin-left: 10px;
}

.elementor-61596 .elementor-element.elementor-element-45f43170 .elementor-button .elementor-align-icon-left {
	margin-right: 10px;
}

.elementor-61596 .elementor-element.elementor-element-45f43170 .copy-content {
	font-family: "Poppins", Sans-serif;
	font-weight: 300;
}

.elementor-61596 .elementor-element.elementor-element-45f43170 img {
	height: 215px;
	border-radius: 20px 20px 20px 20px;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.elementor-61596 .elementor-element.elementor-element-45f43170 a.elementor-button,
.elementor-61596 .elementor-element.elementor-element-45f43170 .elementor-button {
	font-family: "Poppins", Sans-serif;
	font-weight: 300;
	background-color: #3687F4;
	border-radius: 30px 30px 30px 30px;
}

.elementor-61596 .elementor-element.elementor-element-70ae0088 .elementor-button .elementor-align-icon-right {
	margin-left: 10px;
}

.elementor-61596 .elementor-element.elementor-element-70ae0088 .elementor-button .elementor-align-icon-left {
	margin-right: 10px;
}

.elementor-61596 .elementor-element.elementor-element-70ae0088 .copy-content {
	font-family: "Poppins", Sans-serif;
	font-weight: 300;
}

.elementor-61596 .elementor-element.elementor-element-70ae0088 img {
	height: 215px;
	border-radius: 20px 20px 20px 20px;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.elementor-61596 .elementor-element.elementor-element-70ae0088 a.elementor-button,
.elementor-61596 .elementor-element.elementor-element-70ae0088 .elementor-button {
	font-family: "Poppins", Sans-serif;
	font-weight: 300;
	background-color: #3687F4;
	border-radius: 30px 30px 30px 30px;
}

.elementor-61596 .elementor-element.elementor-element-1d3c5fba {
	--divider-border-style: slashes;
	--divider-color: #000;
	--divider-border-width: 1px;
	--divider-pattern-height: 20px;
	--divider-pattern-size: 20px;
}

.elementor-61596 .elementor-element.elementor-element-1d3c5fba .elementor-divider-separator {
	width: 100%;
}

.elementor-61596 .elementor-element.elementor-element-1d3c5fba .elementor-divider {
	padding-top: 15px;
	padding-bottom: 15px;
}

.elementor-61596 .elementor-element.elementor-element-2c1e6b09 .elementor-heading-title {
	color: #4B4B4B;
	font-family: "Poppins", Sans-serif;
	font-size: 29px;
	font-weight: 400;
}

.elementor-61596 .elementor-element.elementor-element-1a687c0e {
	font-family: "Lora", Sans-serif;
	font-size: 15px;
	font-weight: 400;
}

.elementor-61596 .elementor-element.elementor-element-5036fbe1 .elementor-spacer-inner {
	height: 50px;
}

#elementor-popup-modal-61596 .dialog-message {
	width: 548px;
	height: auto;
}

#elementor-popup-modal-61596 {
	justify-content: flex-end;
	align-items: center;
	pointer-events: all;
	background-color: rgba(0, 0, 0, .8);
}

#elementor-popup-modal-61596 .dialog-widget-content {
	animation-duration: 1.2s;
	background-color: rgba(2, 1, 1, 0);
}

@media(max-width:1024px) {
	.elementor-bc-flex-widget .elementor-61596 .elementor-element.elementor-element-37e6de44.elementor-column .elementor-column-wrap {
		align-items: center;
	}

	.elementor-61596 .elementor-element.elementor-element-37e6de44.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
		align-content: center;
		align-items: center;
	}

	.elementor-61596 .elementor-element.elementor-element-352f7ea4>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}

	.elementor-61596 .elementor-element.elementor-element-2c1e6b09 .elementor-heading-title {
		font-size: 26px;
	}
}

@media(min-width:768px) {
	.elementor-61596 .elementor-element.elementor-element-49ed325f {
		width: 10%;
	}

	.elementor-61596 .elementor-element.elementor-element-37e6de44 {
		width: 90%;
	}
}

@media(max-width:767px) {
	.elementor-61596 .elementor-element.elementor-element-6ec061d7 .elementor-button {
		padding: 10px 10px 10px 10px;
	}

	.elementor-61596 .elementor-element.elementor-element-6ec061d7>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}

	.elementor-61596 .elementor-element.elementor-element-37e6de44>.elementor-element-populated>.elementor-widget-wrap {
		padding: 5% 5% 15% 5%;
	}

	.elementor-61596 .elementor-element.elementor-element-352f7ea4 {
		text-align: center;
	}

	.elementor-61596 .elementor-element.elementor-element-352f7ea4 .elementor-heading-title {
		font-size: 25px;
	}

	.elementor-61596 .elementor-element.elementor-element-352f7ea4>.elementor-widget-container {
		margin: 24px 0px 0px 0px;
	}

	.elementor-61596 .elementor-element.elementor-element-e816b04 .elementor-heading-title {
		font-size: 11px;
	}

	.elementor-61596 .elementor-element.elementor-element-45f43170 img {
		height: 177px;
	}

	.elementor-61596 .elementor-element.elementor-element-45f43170 a.elementor-button,
	.elementor-61596 .elementor-element.elementor-element-45f43170 .elementor-button {
		font-size: 15px;
	}

	.elementor-61596 .elementor-element.elementor-element-70ae0088 img {
		height: 177px;
	}

	.elementor-61596 .elementor-element.elementor-element-70ae0088 a.elementor-button,
	.elementor-61596 .elementor-element.elementor-element-70ae0088 .elementor-button {
		font-size: 15px;
	}

	.elementor-61596 .elementor-element.elementor-element-1d3c5fba .elementor-divider-separator {
		width: 100%;
		margin: 0 auto;
		margin-right: 0;
	}

	.elementor-61596 .elementor-element.elementor-element-1d3c5fba .elementor-divider {
		text-align: right;
	}

	.elementor-61596 .elementor-element.elementor-element-2c1e6b09 .elementor-heading-title {
		font-size: 23px;
	}

	.elementor-61596 .elementor-element.elementor-element-5036fbe1 .elementor-spacer-inner {
		height: 10px;
	}
}
